
<div class="mcd4">
  <h1>一覧ページ</h1>
</div>

<div class="top">
  <h4>あなただけのコーデ日記を作ろう</h4>
  <p>「この服いつ着たっけ...」「最近この服着てないかも...」</p>
  <p>そんな悩みは日記を書くことで解決できるかもしれません。</p>
</div>

<div class="top2">
 <h4>おしゃれしたいけどコーデを考えるのは面倒くさい</h4>
 <p>そんな悩みを解決するためにコーデを記録しましょう</p>
</div>
<div class="mcds-container">
  
  
  <div class="mcd2">
   <h4>tags</h4>
    <%= form_tag({controller:"mcds",action:"index"}, method: :get) do %>
      <% Tag.all.each do |t| %>
        <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
      <% end %>
      <%= submit_tag '検索' %>
    <% end %>
  </div>
  
  <div class="mcd1">
    <% @mcds.each do |t| %>
      <div class="mcd"> 
        <h5><%= image_tag t.image_url, size: "250x200" if t.image? %></h5>
        <h5><%= t.user.name %></h5>
        <h5><%= t.user.email %> </h5>
        <h5><%= t.main_item %></h5>
        <h5><%= t.about %></h5>
      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
            <%= link_to mcd_like_path(id: t.id, mcd_id: t.id), method: :delete do %>
              <i class="fa-solid fa-shirt"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to mcd_likes_path(id: t.id, mcd_id: t.id), method: :post do %>
              <i class="fa-solid fa-shirt"></i><%= t.likes.count %>
            <% end %>
        <% end %>
      <% else %>
        <i class="fa-solid fa-shirt"></i><%= t.likes.count %>
      <% end %>
        
          <a><%= link_to "詳細へ", mcd_path(t.id) %></a>
          <a><%= link_to "編集する", edit_mcd_path(t.id) %></a>
          <a><%= button_to "削除する", mcd_path(t.id), method: :delete %></a>
       
      </div>
    <% end %>
  </div>
  
</div>

