<!DOCTYPE html>
<html>
  <head>
    <title>My Corde Diary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d97f9304f8.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
    <h1>My Corde Diary</h1>
    <div class="header-list">
     <ul>
      <% if user_signed_in? %>
       <li><h1><%= link_to "コーデ一覧に戻る", mcds_path %></h1></li>
       <li><h1><%= link_to "新規投稿", new_mcd_path %></h1></li>
       <li><h1><%= link_to"カレンダー", blogs_path %></h1></li>
       <li><h1><%= link_to "マイページへ", user_path(current_user.id) %></h1></li>
      <% else %>
       <li><%= button_to "新規登録", new_user_registration_path %></li>
       <li><%= button_to "ログイン", new_user_session_path %></li>
      <% end %>
     </ul>
    </div>
   </header>
   <main>
    <%= yield %>
   </main>
  </body>

</html>
